Data Encoding : -
1. one hot encoding / nominal encoding 
2. label and ordinal encoding 
3. target guided ordinal encoding

data encoding is done to convert categorical values into meaningfull numerical values so that model can understand

#one hot encoding 
 in this each category is represented as binary vector where each bit corresponds to a unique category

In [ ]:
#we shouldnt be using OHE when we have many categories

In [3]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [5]:
df = pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [6]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [7]:
encoder = OneHotEncoder()

In [12]:
##perform fit and transform 
encoded=encoder.fit_transform(df[['color']]).toarray()
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [15]:
import pandas as pd
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [17]:
encoder.transform([['blue']]).toarray()

c:\Users\Adwait\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [20]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [23]:
import seaborn as sns
df1 = sns.load_dataset('tips')

In [24]:
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [29]:
encoded_tips= encoder.fit_transform(df1[['sex','smoker','time']]).toarray()
encoded_tips

array([[1., 0., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0.],
       [0., 1., 1., 0., 1., 0.],
       ...,
       [0., 1., 0., 1., 1., 0.],
       [0., 1., 1., 0., 1., 0.],
       [1., 0., 1., 0., 1., 0.]])

In [31]:
encoder.get_feature_names_out()

array(['sex_Female', 'sex_Male', 'smoker_No', 'smoker_Yes', 'time_Dinner',
       'time_Lunch'], dtype=object)

In [32]:
encoded_df1 = pd.DataFrame(encoded_tips,columns=encoder.get_feature_names_out())
encoded_df1

     sex_Female  sex_Male  smoker_No  smoker_Yes  time_Dinner  time_Lunch
0           1.0       0.0        1.0         0.0          1.0         0.0
1           0.0       1.0        1.0         0.0          1.0         0.0
2           0.0       1.0        1.0         0.0          1.0         0.0
3           0.0       1.0        1.0         0.0          1.0         0.0
4           1.0       0.0        1.0         0.0          1.0         0.0
..          ...       ...        ...         ...          ...         ...
239         0.0       1.0        1.0         0.0          1.0         0.0
240         1.0       0.0        0.0         1.0          1.0         0.0
241         0.0       1.0        0.0         1.0          1.0         0.0
242         0.0       1.0        1.0         0.0          1.0         0.0
243         1.0       0.0        1.0         0.0          1.0         0.0

[244 rows x 6 columns]

In [39]:

new_df = pd.DataFrame({
    'total_bill':df1['total_bill'],'tip':df1['tip'],'percentage of the bill which is given as tip': (df1['tip']  / df1['total_bill'])*100 ,
    "male": encoded_df1['sex_Male'] , 'female': encoded_df1['sex_Female']
})
new_df

,total_bill,tip,percentage of the bill which is given as tip,male,female
0,16.99,1.01,5.944673,0.0,1.0
1,10.34,1.66,16.054159,1.0,0.0
2,21.01,3.50,16.658734,1.0,0.0
3,23.68,3.31,13.978041,1.0,0.0
4,24.59,3.61,14.680765,0.0,1.0
...,...,...,...,...,...
239,29.03,5.92,20.392697,1.0,0.0
240,27.18,2.00,7.358352,0.0,1.0
241,22.67,2.00,8.822232,1.0,0.0
242,17.82,1.75,9.820426,1.0,0.0
243,18.78,3.00,15.974441,0.0,1.0